/* Light mode */
body {
  background-color: aliceblue;
  color: black;
  font-family: system-ui, sans-serif, Georgia, 'Times New Roman', Times, serif;
  /*
  font-size: 1rem;
  max-width: 70ch;
  margin: auto;
  padding: 1rem;
  */
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

code {
    display: inline-block;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 1px 2px;
    border-radius: 4px;
    font-family: monospace;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
  
  a:link {
    color: #82aaff;
  }

  a:visited {
    color: #c792ea;
  }

  a:hover {
    color: #add8ff; 
  }

  code {
    background-color: #1e1e1e;
    border: 1px solid #444;
    color: white;
  }
}

/* Serif override for PC-98 guide */
.serif-page {
  font-family: Georgia, 'Times New Roman', Times, serif;
}